<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ben.fdam_ver_020">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AddDeviceActivity" />
        <activity android:name=".activity.AddStaffActivity" />
        <activity android:name=".activity.InfoDeviceActivity" />
        <activity android:name=".activity.InfoStaffActivity" />
        <activity android:name=".activity.InfoDescriptionActivity" />
        <activity android:name=".activity.AddDescriptionActivity" />
        <activity android:name=".activity.InfoSimActivity"></activity>
    </application>

</manifest>